#Hey git! Ignore vim swap files.
*.swp
*.swo

#Ignore .bak files
*.bak

#Also don't track private stuff 
private.php

#app/index.html
#app/index2.htm
app/images/Thumbs.db
app/.DS_Store

xml_added/mepTemplate.xml